header, main, nav, footer, figure, figcaption, aside, section, article {
    display:block;
}
* {
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}
header {
    background-color: #00B386;
    color: #FFFFFF;
    height: 175px;
    text-align: center;
    padding-top: 30px;
    padding-left: 3em;
    line-height: 400%;
    text-indent: 1em;
    background-image: url(assets/pasture.png);
    background-repeat: no-repeat;
    background-position: right;
}
nav {
    padding: 1.5em;
    font-weight: bold;
    float: left;
    width: 160px;
}
nav a {
    font-size: 120%;
    font-family: sans-serif;
    text-decoration: none;
}
nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 1.2em;
}
nav a:link {
    color:#00664d;
}
nav a:visited {
    color: #7a7a52;
}
nav a:hover {
    color:#ffffff;
}
main {
    padding-top: 1px;
    padding-right: 20px;
    padding-bottom:20px;
    padding-left: 30px;
    display: block;
    margin-left: 190px;
    background:#ffffff;
}
h1 {
    margin-bottom: 0;
    margin-top: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h2 {
    color: #00664D;
    text-shadow: 1px 1px #CCCCCC;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h3 {
    font-family:Georgia, 'Times New Roman', Times, serif;
}
main ul {
    list-style-image: url(assets/marker.gif);
}
dt {
    color: #00664D;
}
.barn {
    color: #70DBDB;
    font-weight: bold;
}
#barn {
    color: #70DBDB;
    font-weight: bold;
}

footer {
    padding: 15px;
    text-align: center;
    font-size: 75%;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 190px;
    background-color: #ffffff;
}
#contact {
    font-size: 90%;
}
#wrapper {
    width: 80%;
    margin: auto;
    min-width: 900px;
    max-width: 2050px;
    background-color: #0c5442;
    box-shadow: 4px 4px #133926;
    background-image: linear-gradient(#ffffff, #0c5442);
    border: solid 1.5px #003300;
}
#homeImage { 
    background-image: url(assets/sunsetHorse.png);
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left:190px;
}
#boardImage { background-image: url(assets/fenceline.png);
    height: 300px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left:190px;
}
#trainingImage { background-image: url(assets/BayBella.png);
    height: 300px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left:190px;
}
#mobile {
    display:none;
}
#desktop {
    display:inline;
}
@media only screen and (max-width: 64em) {
    body {
        background-color: #ffffff;
        margin:0px;
    }
    #wrapper {
        min-width:0px;
        width:auto;
        box-shadow: none;
        border: none;
        background-color: #ffffff;
        /*display: inline;*/
    }
    header {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left:0;
        height: auto;
    }
    h1 {
        letter-spacing: 0.1em;
        font-size: 2em;
    }
    main {
        margin-left: 0px;
    }
    nav {
        float:none;
        width: auto;
        text-align: center;
        padding:0.5em;
    }
    nav li {
        display: inline;
        padding: 0.25em 0.75em;
    }
    #homeImage, #boardImage, #trainingImage {
        margin-left: 0px;
        height: 200px;
    }
    footer {
        padding: 0px;
        margin:auto;
    }
}
@media only screen and (max-width: 37.5em) {
	#mobile {
        display: inline;
    }
	#desktop {
        display: none;
    }
    main {
        padding: 0.1em 1em;
        font-size: 90%;
    }
    h1 {
        font-size: 2em;
    }
    nav {
        padding: 0px;
        height: auto;
    }
    nav ul li {
        display: block;
        margin: 0px;
        border-bottom: 2px solid #330000;
    }
    nav a {
        display: block;
    }
    #homeImage, #boardImage, #trainingImage {
        background-image: none;
        height: 0px;
    }
}



